<div class="container-fluid">
  <div class="col-xs-2">
    <!--Sidebar content-->
	  
    <form>
    <div class="form-group">
      <a href="#!/example-one" class="btn btn-default" ng-click="$ctrl.loadData()">Загрузка данных</a>
    </div>

    <div class="form-group">
      <label for="inputQuery">Поиск</label>
      <input type="text" class="form-control" id="inputQuery" placeholder="Фильтр поиска" ng-model="$ctrl.query">
    </div>

    <div class="form-group" ng-show="$ctrl.data">
      <label for="inputOrder">Сортировать</label>
      <select class="form-control" id="inputOrder" ng-model="$ctrl.orderProp">
        <option value="">Выберите способ сортировки</option>
        <option value="income">по доходу</option>
        <option value="views">по просмотрам</option>
      </select>
    </div>
    
    </form>

  </div>
  <div class="col-xs-10">
    <!--Body content-->

	  <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Данные</th> <th>Доход</th> <th>Просмотры</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="dataElement in $ctrl.data | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="phone-list-item">
          <td>{{dataElement.country}}</td> <td>{{dataElement.income}}</td> <td>{{dataElement.views}}</td>
        </tr>
      </tbody>
	  </table>

  </div>
</div>